<h1 class="section-heading text-center">Background</h1>

<p class="text-center">My history with computing stemmed from the desire to find a more elegant and efficient means of
    solving complex problems. These days my core skills and interests include cloud computing infrastructure, data
    architecture, and analytics.</p>

<p class="text-center">As a tinkerer, I've always got a new project on my plate. The purpose of this site is to share
    my discoveries and innovations. When I'm not developing I can usually be found exploring the coffee, beer, or food scene here
    in Chicago.</p>


<!--<hr>-->

<!--<h1 class="section-heading text-center">Portfolio</h1>-->

<!--<p>Under development!</p>-->


<!--<hr>-->

<!--<h1 class="section-heading text-center">More About Me</h1>-->

<!--<h2 class="text-center">Education</h2>-->

<!--<p>M.S. Mathematics & Statistics, Georgetown University</p>-->
<!--<p>B.S. Industrial and Systems Engineering, Georgia Institute of Technology</p>-->

<!--<h2 class="text-center">Interests</h2>-->

<!--<h2 class="text-center">Hobbies</h2>-->