<!DOCTYPE html>
{% extends "template.html" %}
<html lang="en">

{% block head %}
{{ super() }}
{% endblock head %}

<body>
{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block content %}
<header class="intro-header"
        style="background-image: url('https://s3.amazonaws.com/anthonycarminati-backgrounds/carminatiio/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Contact</h1>
                    <hr class="small">
                    <span class="subheading">Data. Development. Analytics. Technology.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for message in form.name.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.email.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.subject.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}

            {% for message in form.message.errors %}
            <div class="flash">{{ message }}</div>
            {% endfor %}

            <form action="{{ url_for('site.contact') }}" method=post>
                {{ form.hidden_tag() }}

                <div class="row control-group">
                    <div class="form-group col-xs-12 controls"> <!-- took away floating-label-form-group -->
                        {{ form.name.label }}
                        {{ form.name(type="text", class="form-control", placeholder="Name", id="name") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 controls"> <!-- took away floating-label-form-group -->
                        <label>{{ form.email.label() }}</label>
                        {{ form.email(type="email", class="form-control", placeholder="Email Address", id="email") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 controls"> <!-- took away floating-label-form-group -->
                        <label>{{ form.subject.label() }}</label>
                        {{ form.subject(type="tel", class="form-control", placeholder="Subject", id="phone") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 controls"> <!-- took away floating-label-form-group -->
                        <label>{{ form.message.label() }}</label>
                        {{ form.message(rows="5", class="form-control", placeholder="Message", id="message") }}
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 controls"> <!-- took away floating-label-form-group -->
                        {{ form.submit(type="submit", class="btn btn-default") }}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content%}

{% block script %}
{{ super() }}
{% endblock script %}

{% block footer %}
{{ super() }}
{% endblock footer %}
</body>

</html>



