<!DOCTYPE html>
{% extends "template.html" %}
<html lang="en" class="no-js">

{% block head %}
{{ super() }}
{% endblock head %}

<body>

{% block content %}

<div class="main-container">
    <section class="fullscreen image-bg">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="https://s3.amazonaws.com/anthonycarminati-backgrounds/carminatiio/hancock_dark.jpg"/>
        </div>
        <div class="container v-align-transform">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase large mb8">
                        Anthony<strong>Carminati</strong></h2>
                    <h4 class="mb0">Developer. Analyst. Architect. Strategist.</h4>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <section class="bg-secondary pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="mb64 mb-xs-24">Interests</h2>
                </div>
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <div class="tabbed-content icon-tabs">
                        <ul class="tabs">
                            <li class="active">
                                <div class="tab-title">
                                    <i class="ti-layers icon"></i>
                                    <span>Infrastructure</span>
                                </div>
                                <div class="tab-content">
                                    <p>
                                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                        dolores.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="tab-title">
                                    <i class="ti-package icon"></i>
                                    <span>Math & Statistics</span>
                                </div>
                                <div class="tab-content">
                                    <p>
                                        Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                        numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima
                                        veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi
                                        consequatur?
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="tab-title">
                                    <i class="ti-stats-up icon"></i>
                                    <span>Delivery</span>
                                </div>
                                <div class="tab-content">
                                    <p>
                                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                        atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                                        sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                                        facilis est.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="tab-title">
                                    <i class="ti-layout-media-center-alt icon"></i>
                                    <span>Mobile</span>
                                </div>
                                <div class="tab-content">
                                    <p>
                                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat
                                        facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
                                        officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non
                                        recusandae.
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
    <section>
        <div class="container">
            <div class="row mb64 mb-xs-24">
                <div class="col-sm-12 text-center">
                    <h3>Experience</h3>
                    <p class="lead">
                        Where I've been. What I've done.
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <div class="tabbed-content button-tabs">
                        <ul class="tabs">
                            <li class="active">
                                <div class="tab-title">
                                    <span>Work</span>
                                </div>
                                <div class="tab-content text-left">
                                    <div>
                                        <div class="overflow-hidden">
                                            <!--<img alt="Pic" class="mb24 pull-left" src="{{url_for('static', filename='img/avatar1.png')}}"/>-->
                                            <div class="pull-left p32 p0-xs">
                                                <h6 class="uppercase mb8 number">July 2015 - Current</h6>
                                                <h4 class="mb8">Strategy & Solutions</h4>
                                                <h5>Pandera Systems</h5>
                                            </div>
                                        </div>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                                            minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                                            commodi consequatur?
                                        </p>
                                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                    </div>
                                    <div>
                                        <div class="overflow-hidden">
                                            <!--<img alt="Pic" class="mb24 pull-left" src="{{url_for('static', filename='img/avatar1.png')}}"/>-->
                                            <div class="pull-left p32 p0-xs">
                                                <h6 class="uppercase mb8 number">July 2014 - July 2015</h6>
                                                <h4 class="mb8">Technology Advisor</h4>
                                                <h5>Pandera Systems dba Dailey Mobility</h5>
                                            </div>
                                        </div>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                                            minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                                            commodi consequatur?
                                        </p>
                                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                    </div>
                                    <div>
                                        <div class="overflow-hidden">
                                            <!--<img alt="Pic" class="mb24 pull-left" src="{{url_for('static', filename='img/avatar1.png')}}"/>-->
                                            <div class="pull-left p32 p0-xs">
                                                <h6 class="uppercase mb8 number">May 2009 - July 2014</h6>
                                                <h4 class="mb8">Analyst</h4>
                                                <h5>LMI</h5>
                                            </div>
                                        </div>
                                        <p>
                                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                                            rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                                            explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                                            consequuntur magni
                                        </p>
                                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="tab-title">
                                    <span>Education</span>
                                </div>
                                <div class="tab-content text-left">
                                    <div>
                                        <div class="overflow-hidden">
                                            <!--<img alt="Pic" class="mb24 pull-left" src="{{url_for('static', filename='img/avatar1.png')}}"/>-->
                                            <div class="pull-left p32 p0-xs">
                                                <h6 class="uppercase mb8 number">2012 - 2014</h6>
                                                <h4 class="mb8">M.S. Mathematics & Statistics</h4>
                                                <h5>Georgetown University</h5>
                                            </div>
                                        </div>
                                        <p>
                                            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                                            atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
                                            sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
                                            facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                                            impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda.
                                        </p>
                                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                    </div>
                                    <div>
                                        <div class="overflow-hidden">
                                            <!--<img alt="Pic" class="mb24 pull-left" src="{{url_for('static', filename='img/avatar1.png')}}"/>-->
                                            <div class="pull-left p32 p0-xs">
                                                <h6 class="uppercase mb8 number">2007 - 2011</h6>
                                                <h4 class="mb8">B.S. Industrial & Systems Engineering</h4>
                                                <h5>Georgia Institute of Technology</h5>
                                            </div>
                                        </div>
                                        <p>
                                            Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non
                                            numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad
                                            minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea
                                            commodi consequatur?
                                        </p>
                                        <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--end section-->
</div>

{% endblock content %}

{% block footer %}
{{ super() }}
{% endblock footer %}

{% block script %}
{{ super() }}
{% endblock script %}

</body>

</html>