<!DOCTYPE html>
{% extends "template.html" %}
<html lang="en">

{% block head %}
{{ super() }}
{% endblock %}

<body>
{% block navbar %}
{{ super() }}
{% endblock %}

{% block content %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header"
        style="background-image: url('https://s3.amazonaws.com/anthonycarminati-backgrounds/carminatiio/computer_notepad.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Anthony Carminati</h1>
                    <hr class="small">
                    <span class="subheading">Developer. Engineer. Architect.</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {% for message in get_flashed_messages() %}
                <div class="flash">{{ message }}</div>
            {% endfor %}

            {% include "site/_about.html" %}
        </div>
    </div>
</div>

<hr>
{% endblock content %}

{% block script %}
{{ super() }}
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock footer %}
</body>

</html>
