# General Items
**/**.DS_Store
*.DS_Store
**/**.log
**/**.conf
**/**.pyc
*.pyc
.idea/
*.private
**/**.private

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Application Files
app/templates/examples
app/templates/examples/**
gunicorn_config.py
blog_posts/
alembic-dev.ini
alembic-prod.ini
