abstract-rendering==0.5.1
alabaster==0.7.6
alembic==0.8.3
amqp==1.4.6
anaconda-client==1.2.2
anyjson==0.3.3
appnope==0.1.0
appscript==1.0.1
argcomplete==1.0.0
astropy==1.0.4
atom==0.3.9
awscli==1.4.4
Babel==1.3
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
bcdoc==0.12.2
bcolz==0.0.0
beautifulsoup4==4.3.2
billiard==3.3.0.19
bitarray==0.8.1
blaze==0.9.0
bleach==1.4.2
blinker==1.3
blz==0.6.2
bokeh==0.11.0
boto==2.39.0
botocore==0.63.0
Bottleneck==1.0.0
casuarius==1.1
cdecimal==2.3
celery==3.1.17
certifi==2015.9.6.2
cffi==1.2.1
chaco==4.5.0
click==3.3
clyent==1.2.0
colorama==0.2.5
conda==3.19.1
conda-build==1.18.2
conda-env==2.4.5
configobj==5.0.6
configparser==3.3.0.post2
coverage==3.7.1
cryptography==1.0.2
cubes==1.0.1
cycler==0.9.0
Cython==0.22.1
cytoolz==0.7.4
datashape==0.5.0
decorator==3.4.0
docopt==0.4.0
docutils==0.12
dominate==2.1.16
dynd==9b63882
EasyProcess==0.2.1
ecdsa==0.11
enable==4.4.1
enaml==0.9.8
entrypoint2==0.0.6
enum34==1.1.2
et-xmlfile==1.0.1
FAPsycopg2Wrapper==0.5.2
fastcache==1.0.2
Flask==0.10.1
Flask-Babel==0.9
Flask-Bootstrap==3.3.5.7
Flask-HTTPAuth==2.7.0
Flask-Login==0.3.0
Flask-Mail==0.9.0
Flask-Migrate==1.6.0
Flask-Misaka==0.4.0
Flask-Moment==0.5.1
Flask-OpenID==1.2.1
Flask-PageDown==0.2.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.0
Flask-WhooshAlchemy==0.56
Flask-WTF==0.10.2
flipflop==1.0
funcsigs==0.4
future==0.15.2
futures==3.0.3
gevent==1.0.1
gevent-websocket==0.9.3
gnupg==2.0.2
greenlet==0.4.9
grin==1.2.1
guess-language==0.2
gunicorn==19.4.5
h5py==2.5.0
html5lib==0.9999999
icalendar==3.9.1
idna==2.0
ijson==2.0
ipaddress==1.0.14
iptools==0.6.1
ipykernel==4.2.2
ipython==4.0.3
ipython-genutils==0.1.0
ipywidgets==4.1.1
iso8601==0.1.10
itsdangerous==0.24
jdcal==1.2
jedi==0.9.0
jenkins==1.0.2
jenkinsapi==0.2.29
Jinja2==2.7.3
jmespath==0.4.1
jsonschema==2.4.0
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.1.0
jupyter-core==4.0.6
kiwisolver==0.1.3
kombu==3.0.24
llvmlite==0.8.0
llvmpy==0.12.7
logutils==0.3.3
lxml==3.5.0
Mako==1.0.2
mandrill==1.0.57
Markdown==2.6.5
MarkupSafe==0.23
matplotlib==1.4.3
misaka==2.0.0
mistune==0.7.1
mock==1.3.0
msgpack-python==0.4.7
multi-key-dict==2.0.3
multipledispatch==0.4.8
nbconvert==4.1.0
nbformat==4.0.1
networkx==1.10
nltk==3.1
nose==1.3.7
notebook==4.1.0
numba==0.23.1
numexpr==2.4.4
numpy==1.10.4
odo==0.4.0
openpyxl==2.3.2
optcomplete===1.2-devel
pandas==0.16.2
paramiko==1.15.2
PasteDeploy==1.5.2
path.py==0.0.0
patool==1.8
patsy==0.4.0
Pattern==2.6
pbr==0.10.0
pep8==1.7.0
pexpect==3.3
pickleshare==0.5
PIL==1.1.7
Pillow==3.1.0
ply==3.4
prices==0.5.4
psutil==3.4.1
ptyprocess==0.5
py==1.4.31
pyasn1==0.1.7
PyAudio==0.2.7
pycosat==0.6.1
pycparser==2.14
pycrypto==2.6.1
pycurl==7.19.5.3
pydicom==0.9.9
PyExecJS==1.1.0
pyface==4.4.0
pyflakes==1.0.0
Pygments==2.0.2
PyHive==0.1.5
pymongo==3.0.3
pyodbc==3.0.10
pyOpenSSL==0.15.1
pyparsing==2.0.3
PyReact==0.6.0
pytest==2.8.5
python-dateutil==2.2
python-editor==0.4
python-jenkins==0.4.11
python-openid==2.2.5
pytz==2014.7
pyunpack==0.0.3
pyvertica==1.6.1
pyxley==0.0.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.1
rarfile==2.7
redis==2.10.3
requests==2.9.1
rope==0.9.4
rq==0.5.0
rsa==3.1.2
runipy==0.1.3
salt==2015.8.4
satchless==1.1.3
scikit-image==0.11.3
scikit-learn==0.16.1
scipy==0.16.0
scp==0.8.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.0
sockjs-tornado==1.0.1
speaklater==1.3
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
spyder==2.3.8
SQLAlchemy==0.9.7
StarCluster==0.95.6
statsmodels==0.6.1
sympy==0.7.6.1
tables==3.2.2
taskthread==1.4
Tempita==0.5.2
tensorflow==0.5.0
terminado==0.5
toolz==0.7.4
tornado==4.3
traitlets==4.1.0
traits==4.4.0
traitsui==4.4.0
troposphere==1.3.0
ujson==1.33
unicodecsv==0.14.1
unrar==0.3
vertica-python==0.3.0
virtualenv==13.0.1
visitor==0.1.2
Werkzeug==0.11.3
wget==2.2
wheel==0.26.0
Whoosh==2.6.0
workerpool==0.9.2
WTForms==2.0.1
xlrd==0.9.4
XlsxWriter==0.8.2
xlwings==0.6.4
xlwt==1.0.0
