<!--<div class="post-preview">-->
    <!--<a href="{{url_for('blog.post', post_id = post.id)}}">-->
        <!--<h2 class="post-title">-->
            <!--{{post.title}}-->
        <!--</h2>-->
        <!--<h3 class="post-subtitle">-->
            <!--{{post.subtitle}}-->
        <!--</h3>-->
    <!--</a>-->
    <!--<p class="post-meta">Posted by {{post.author.name}} on {{post.post_date}}</p>-->
<!--</div>-->
<!--<hr>-->


<div class="post-snippet mb64">
    <a href="{{url_for('blog.post', post_id = post.id)}}">
        <img class="mb24" alt="Post Image" src="{{url_for('static', filename='img/blog-single-4.jpg')}}"/>
    </a>
    <div class="post-title">
        <span class="label">23 Sep {{post.post_date}}</span>

            <h4 class="inline-block">{{post.title}}</h4>

    </div>
    <ul class="post-meta">
        <li>
            <i class="ti-user"></i>
<span>Written by
<a href="#">{{post.author.name}}</a>
</span>
        </li>
        <li>
            <i class="ti-tag"></i>
<span>Tagged as
<a href="#">{{post.tag.tag_desc}}</a>
</span>
        </li>
    </ul>
    <hr>
    <p>
        {{post.subtitle}}
    </p>
    <a class="btn btn-sm" href="{{url_for('blog.post', post_id = post.id)}}">Read More</a>
</div>