<!DOCTYPE html>
{% extends "template.html" %}
<html lang="en">

{% block head %}
{{ super() }}
{% endblock head %}

<body>
{% block navbar %}
{{ super() }}
{% endblock navbar %}

{% block content %}
<header class="intro-header" style="background-image: url('https://s3.amazonaws.com/anthonycarminati-backgrounds/carminatiio/typewriter_keys.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{post.title}}</h1>
                    <hr class="small">
                    <span class="subheading">{{post.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            {{post.body|markdown}}
        </div>
    </div>
</div>
{% endblock content%}

{% block script %}
{{ super() }}
{% endblock script %}

{% block footer %}
{{ super() }}
{% endblock footer %}
</body>

</html>
